.stat-card {
    border-radius: 12px;
    padding: 25px;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s;
}
.stat-card:hover {
    transform: translateY(-5px);
}
.menu-card {
    border-radius: 12px;
    padding: 22px;
    background: #fff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    cursor: pointer;
}
.menu-card:hover {
    background: #f5f6f7;
    transform: translateY(-4px);
}
.menu-card i {
    font-size: 35px;
    margin-bottom: 12px;
    color: #0d6efd;
}
.menu-title {
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}


/* submenu link */
.submenu a {
    padding: 8px 10px;
    display: block;
    border-radius: 6px;
    transition: 0.2s;
}

.submenu a:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* icon rotation */
.toggle-icon {
    transition: transform 0.25s ease;
}

.toggle-icon.rotate {
    transform: rotate(90deg);
}

/* active states */
.active-sub {
    background: rgba(0, 123, 255, 0.15) !important;
    font-weight: bold;
    border-left: 3px solid #007bff;
}
